body {
  padding-top: 5em;
  padding-bottom: 5em;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.push-up { margin-top: 1em !important; }
.push-down { margin-bottom: 1em !important; }
.push-right { margin-right: 1em !important; }
.push-left { margin-right: 1em !important; }

#top h1 {
  margin: 0;
}

.ribbit {
  margin-bottom: 2em;
}

.ribbit-content {
  padding: 0.6em;
}

.ribbit-content p {
  margin-bottom: 5px;
}